<html>
  <head>
    <style>
    div {
    background-color: lightgrey;
    width: 1000px;
    border: 25px solid red;
    padding: 25px;
    margin: 25px;
}
  </style>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>5280 Landmarks</title>
    <link rel="stylesheet" href="stylesheets/reset.css" title="text/css" />
    <link rel="stylesheet" href="stylesheets/main.css" title="text/css" />
  </head>
  <body>

    <div class="container">
    <img src="https://i.imgur.com/gedpu6q.jpg" alt="Denver art museum" style="width:80%;">

  </body>
</html>
